

*.xcworkspacedata
*.xcuserstate


ycsdk.xcworkspace/xcshareddata/
ycsdk.xcworkspace/xcuserdata/

leqisdk/leqisdk.xcodeproj/xcshareddata/
leqisdk/leqisdk.xcodeproj/xcuserdata/
leqisdk/leqisdk.xcodeproj/project\.xcworkspace/xcshareddata/

leqisdk-sample/leqisdk-sample.xcodeproj/xcshareddata/
leqisdk-sample/leqisdk-sample.xcodeproj/xcuserdata/
leqisdk-sample/leqisdk-sample.xcodeproj/project\.xcworkspace/xcshareddata/

*.log


乐七iOS-SDK/\.DS_Store

\.DS_Store
